<!--gridtest.html
In this file I am going to be using a set of divs to implement my own
grid structure.
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Grid Testing</title>

    <link rel="stylesheet" type="text/css" href="style.css">

  </head>
  <body>
    <!-- This is the header -->
    <section class="blockOne">
        <div id="titleFrame">
             <h1> RNTL Club</h1>
        </div>
    </section>

    <!-- Testimonial Section: Ian testing css flexbox   -->
    <section class="testimonial">
         <h1> TESTIMONIALS </h1>
         <div class="wrapper">
            <div id="box1">
              <h3> THiS IS THE BEST THING EVER </h3>
              <p>
                   Ugh kale chips vinyl quinoa intelligentsia venmo. PBR&B waistcoat
                   next level keytar aesthetic stumptown photo booth hexagon bicycle rights
                   semiotics kinfolk paleo microdosing. 3 wolf moon taxidermy chicharrones taiyaki
                   cronut la croix hella literally YOLO kale chips microdosing blog vape photo booth
              </p>
            </div>
            <div id="box2">
                 <h3> THiS IS THE BEST THING EVER </h3>
                 <p>
                      Ugh kale chips vinyl quinoa intelligentsia venmo. PBR&B waistcoat
                      next level keytar aesthetic stumptown photo booth hexagon bicycle rights
                      semiotics kinfolk paleo microdosing. 3 wolf moon taxidermy chicharrones taiyaki
                      cronut la croix hella literally YOLO kale chips microdosing blog vape photo booth
                 </p>
            </div>
          <div id="box3">
            <h3> THiS IS THE BEST THING EVER </h3>
            <p>
                 Ugh kale chips vinyl quinoa intelligentsia venmo. PBR&B waistcoat
                 next level keytar aesthetic stumptown photo booth hexagon bicycle rights
                 semiotics kinfolk paleo microdosing. 3 wolf moon taxidermy chicharrones taiyaki
                 cronut la croix hella literally YOLO kale chips microdosing blog vape photo booth
            </p>
         </div>
       </div>
    </section>

  </body>
</html>
